*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: #0082ff;
    color: white;
    display: flex;
    justify-content:space-around;
    align-items: center;

    
}
.cabecalho-imagem{
    width: 20%;
    margin: 0px 400px;
    
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 50px 500px 0px 0px;
    font-size: 40px;
    

}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;

}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.description-of-page{
    margin-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 500%;
    background-color: #0082ff;
}
.description-of-page2{
    margin-left: 12%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 165%;
    background-color: #0082ff;
}


.description-of-pageadd{
   font-family: Arial, Helvetica, sans-serif;
    font-size: 165%;
    margin-left: 35%;
    background-color: #0082ff;

}

hr.dashed{
    border-top: 30px solid #0082ff;
}
