

.cabecalho{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cabecalho-imagem{
    width: 20%;
}
.cabecalho-lista-item{
    display: flex;
    margin: 50px 50px 0px 0px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

a:visited {
    color: white;
    text-decoration: none;

}

a:link {
    color: white;
    text-decoration: none;
}

.description-of-page{
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;  
    color: white;
}
.description-of-page2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 165%;
    padding: 0px 0px 0px 0px;
    color: white;
    background-color:transparent;
}


.description-of-pageadd{
   font-family: Arial, Helvetica, sans-serif;
    font-size: 165%;
    color: white;
    padding-bottom: 10px;
    background-color: transparent;
}



nav{
    background-color: transparent;
    text-align: center;
}



body{
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 15%, rgba(0,130,255,1) 58%); 
    background-repeat: no-repeat;
    max-width: 1900px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    height: 100%;
}


 


.mapsfigurecap{
text-transform: uppercase;
font-size: 300%;
margin-bottom: 30px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;

}

section{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.indexfigure{
    display: flex;
    flex-direction: column;
}

.indexfigure img{
    flex: 1;
    width: 50%;
    height: auto;
}

.addonsfigurecap{
    text-transform: uppercase;
    font-size: 300%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    grid-template-rows: 1fr 1fr; /* Two equal-height rows */
    gap: 10px; /* Gap between grid items */
  margin-top: 20px;
}



.grid-item {
    padding: 20px; /* Padding for grid items */
    text-align: center; /* Center text within grid items */
    
}
.grid-item img{
   transition: transform 0.3s ease-in-out

}

.grid-item:hover img{
    transform: scale(1.3);
}

.mapimg{
    width: 60% 
}

